<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards | async; track card) {
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <div class="flex flex-column">
              <span>{{ card.cols }}</span>
              <span>{{ card.rows }}</span>
            </div>
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>

<div class="grid-container">
  <h1 class="text-center text-3xl text-primary">Dashboard Layout 2</h1>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="2" rowspan="1" class="flex">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>This card has divider and indeterminate progress as footer</p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit
            exercitationem aspernatur dolorum tempora voluptates voluptate vel
            ipsa provident recusandae distinctio officia, quo ipsam nemo atque
            rem rerum. Mollitia, quidem at!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card></mat-grid-tile
    >
    <mat-grid-tile
      ><mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card></mat-grid-tile
    >
  </mat-grid-list>
</div>
